<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body
    <form method="post" action=" ">
            <tr>
                <td><input type="text" name="name" placeholder="Enter Name" class="in"/></td>
            </tr><br><br>
            <tr>

                <td><input type="Number" name="age" placeholder="Enter Age" class="in"/></td>
            </tr><br><br>
            <tr>

                <td><input type="text" name="gender" placeholder="Enter gender"></td>
            </tr><br><br>
            <tr>

                <td><input type="email" name="email" placeholder="Enter Email" class="in"/></td>
            </tr><br><br>
            <tr>

                <td><input type="Password" name="password" placeholder="Enter Password" class="in"/></td>
            </tr><br><br>
            <tr>

                <td><input type="Number" name="phone" placeholder="Enter Phone Number" class="in"/></td>
            </tr><br><br>
            <tr>
                <button id="register">
                    Register
                </button></tr>
        </form>
</body>
</html>